extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug

block main 
    div(
        class="alert alert-success alert-hidden d-none"
        show-alert
        data-time=2000
    ) Thêm tour vào giỏ hàng thành công! <span close-alert>X</span>

    .tour-detail
        .container.my-3 
            .row 
                .col-6
                    if(tour.images)
                        .inner-images 
                            div(class="swiper imagesMain")
                                div(class="swiper-wrapper")
                                    each item in tour.images 
                                        div(class="swiper-slide")   
                                            .inner-image 
                                                img(src=item)

                                div(class="swiper-button-next")
                                div(class="swiper-button-prev")
                            
                            div(class="swiper imagesThumb")
                                div(class="swiper-wrapper")
                                    each item in tour.images 
                                        div(class="swiper-slide")    
                                            .inner-image 
                                                img(src=item)

                .col-6 
                    .inner-title #{tour.title} 
                    .inner-barcode 
                        <i class="fa-solid fa-barcode"></i> Mã tour: #{tour.code}
                    .inner-time-start 
                        <i class="fa-solid fa-calendar-days"></i> Lịch khởi hành:
                            +formatDateTime(tour.timeStart)
                    .inner-stock
                        <i class="fa-solid fa-person-walking-luggage"></i> Còn lại: #{tour.stock} chỗ
                    .inner-price-special #{tour.price_special.toLocaleString()}đ
                    .inner-price #{tour.price.toLocaleString()}đ
                    .inner-percent Giảm tới #{tour.discount}%

                    form(
                        form-add-to-card
                        tour-id=tour.id 
                    ) 
                        input(
                            type="number"
                            class="form-control mb-2"
                            name="quantity"
                            value="1"
                            min="1"
                            max=tour.stock
                        )
                        button(
                            type="submit"
                            class="btn btn-success btn-block"
                        ) Thêm vào giỏ hàng 

            hr

            .row 
                .col-12 
                    .inner-information
                        .inner-label Thông tin tour
                        .inner-text     
                            | !{tour.information}

                .col-12 
                    .inner-information
                        .inner-label Lịch trình tour
                        .inner-text     
                            | !{tour.schedule}
                            